

///TYPOGRAPHY
p, a, h1, h2 {
    font-family: 'Nanum Myeongjo', serif;

    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1{
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

//canvas list styling 

ul.nav{
    list-style: none;

}

ul.canvas-list {
    list-style: none;
    display: inline-block;
}

///


.band {
    column-count: 3;
  
}


// canvas

// body {
//     margin: 0;     
// }

#board {
    margin: 0 auto;
    width: 500px;  
}

#myCanvas {
    border: 3px dotted #000;       
}

// .pinContainer{

// }


// #canvas {
//     position: absolute;


// }

// .pwCanvasPaint canvas:first-child {
    // box-shadow: 2px 2px 8px rgba(0,0,0,0.1), -1px -1px 4px rgba(0,0,0,0.1);
    // -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.1), -1px -1px 4px rgba(0,0,0,0.1);
    // box-shadow: inset 0 0 2rem rgba(36, 107, 95, 0.452);
   
//   }

//palette styling


.pwColorSelector {
    list-style: none;

  }

  .pwColor {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 20px;
    box-shadow: inset 0 0 9px rgb(241, 236, 236);
    display: inline-block;

  }

  .pwColor.active {
    box-shadow: 2px 3px 2px rgb(255, 255, 255);
  }


 

//   .canvasContainer {
//       margin: 25px 50px 75px 100px;
//   }

  .tools {
      grid-row: 2/6;
      grid-column: 1/1;

  }
  .color-selector {
      grid-row: 1/4;
      grid-column:2/7;
    //   box-shadow: inset 0 0 10px rgba(36, 107, 95, 0.452);
  }

.canvas-list {
    grid-row:2/4;
    grid-column: 1/7;
    padding-left: 5px;
    // box-shadow: inset 0 0 10px rgba(36, 107, 95, 0.452);

}
.lineWidthSelector {
    grid-row: 4/4;
    grid-column: 3/7;
}

// .lineWidthSelector {
   
//     transform: rotate(-90deg);
// }
.selected {
    grid-row: 4/4;
    grid-column: 6/7;
}
.canvas-view{
  
    grid-row: 2/4;
    grid-column: 2/6;
}

.saveCanvas {
    grid-row: 1/4;
    grid-column: 7/7;

}

.canvasGrid {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .75fr;
    grid-template-rows: .25fr 1fr 1fr .3fr;

}

.canvasContainer{
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    margin-right: 15px;
    box-shadow: inset 0 0 10px rgba(36, 107, 95, 0.452);
}

.canvasBand {
    display: flex;
    margin-top: 160px;
    margin-left: 20rem;
    position: absolute;
    z-index: -20;
}


.bckimg {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
   
}

//made canvas view

.madeCanvasBackground{
    position:absolute;
    top: 35px;
    left: 250px;
    z-index: 1;
    border: 2px solid red;
   
}

.madeCanvas{
    position:absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
    border: 2px solid black;
   
}

.list-of-made-canvases{
    position:absolute;
    z-index:12;
}

.madeCanvasGrid{
    background: rgb(179, 174, 174);
}