
<div class = "canvasContainer" >
    <div class="canvasGrid">
        <div id="canvasList" class="canvas-list">
            <h2 > view saved sketches </h2>

                <ul ng-repeat="canvas in canvases">
                    <li><a ng-href="#!/canvases/{{canvas.boardId}}" class="list">{{canvas.name}}</a></li>
                    <!-- <h2><a ng-href="#!/sketches/{{canvas.boardId}}" class="list" > / view without background</a></h2> -->
                </ul>
        </div>

        <div class="saveCanvas">
             <button ng-click="save()" class="saveBtn">save</button>

            <input type="text" placeholder="Canvas Name" ng-model="newCanvas.name" > <!-- canvas name?-->
        </div>

        <div pw-color-selector="['#000', '#9CB199','#153974','#fff','#722626','	#ffb6c1','#D3D3D3','#A9A9A9','#ADD8E6']" color="selectedColor" class="color-selector">
        
        </div>
            

        <input type="range" min="0.01" max="20" ng-model="selectedLineWidth" class="lineWidthSelector" class="slider">
        
        
<!--          post -mvp
        <div class="tools">
            <ul>
                <li>pen</li>
                <li>brush</li>
                <li>crayon</li>
                <li>chalk</li>
            </ul>
        </div> -->

        <div pw-canvas options="{width: 960, height:1000, color: selectedColor, backgroundColor:'hsla(50, 33%, 25%, 0.01)', lineWidth: selectedLineWidth}" id="canvas" class="canvas-view"></div>

        <div class="selected">selected width: {{selectedLineWidth}}</div>

        <!-- <h1>Board: {{boardName}}</h1> -->

        <!-- <div class="pinBand"> remove to check grid situation
            <div ng-repeat="pin in pins"> 
                        <div class="pinCard" id="pin"> 
                            <img src="{{pin.url}}" alt="?" class="pinThumb">
                            <div class="pinHeader">
                                <h2>{{pin.name}}</h2>
                            </div>
                            <button ng-click="pinRemove(pin.pinId)">Delete Pin</button> 
                        </div>
            </div>
            <div class="pinCard" id="mainImage">  
                    <img src="{{boardCover}}" alt="?" class="pinCover">
            </div>
        </div>  -->
    </div>
</div>

<div class="canvasBand"> 
        <!-- <div ng-repeat="pin in pins"> 
                    <div class="pinCard" id="pin"> 
                        <img src="{{pin.url}}" alt="?" class="pinThumb">
                        <div class="pinHeader">
                            <h2>{{pin.name}}</h2>
                        </div>
                    </div>
        </div> -->
        <div class="bckground" id="mainImage">  
                <img src="{{boardCover}}" alt="?" class="bckimg">
        </div>
    </div> 
</body>
