


<!-- <input class="search-bar" type="text" ng-model="searchTerm.searchTerm" placeholder="search for portfolios">

<div ng-repeat="board in boards | filter: searchTerm.searchTerm">
    <md-autocomplete md-selected-item="selected" md-search-text="searchText" md-items="board in board" md-item-text="item.display">
        <span md-highlight-text="searchText">{{item.display}}</span>
      </md-autocomplete>
</div> -->

<div class="loginPage">
    <img src="app/thickwhitepaintstroke.png">
</div>

<div class="loginPage2">
        <img src="app/thickwhitepaintstroke.png">
</div>

<div class="name">
    <h3>Sketchbook</h3>
</div>

<div class="myBoards">
        <h2><a ng-href="#!/portfolio" >my sketch boards<h2>
</div>

<div class ="portfolioContainer">

    <div class="band">  
        <!-- <div ng-repeat="board in boards | filter: searchTerm.searchTerm">
            <div class = "pinBoard">
                <h1><a ng-href="#!/portfolios/{{board.username}}">{{board.username}}</a></h1> -->
                <!-- change to board.username -->
                <!-- <h1><a ng-href="#!/portfolios/{{board.username}}/{{board.boardId}}">{{board.name}}</a></h1>
                    <img src={{board.url}} alt="?" class="boardThumb">
            </div> -->
        <!-- </div> -->
        <div ng-repeat="sketch in sketches">
                <div class = "pinBoard">
                        <!-- <h1><a ng-href="#!/portfolio">{{sketch.username}}</a></h1>
                       
                        <h1><a ng-href="#!/portfolios/{{sketch.username}}/{{sketch.boardId}}">{{sketch.name}}</a></h1> -->
                            <img src={{sketch.url}} alt="?" class="sketchForMain" class="boardThumb">
                </div>
    </div>
</div>


