<div class="flex">
    <div class="myBoards" class="name">
        <h3>sketchbook</h3>
        <h2>
            <a ng-href="#!/portfolio" class="link">my sketch boards</a>
            <h2></h2>
    </div>


    <div class="portfolioContainer">
        <div class="band">
            <div ng-repeat="sketch in sketches">
                <div class="pinBoard">
                    <img src={{sketch.url}} alt="?" class="sketchForMain" class="boardThumb">
                </div>
            </div>
        </div>
</div>