<div class="flex">
    <div class="myBoards" class="name">
        <h3>sketchbook</h3>
        <h2>Login to start drawing</h2>
    </div>

    <div class="canvasContainer">
        <div class="canvasGrid">
            <div id="canvasList" class="canvas-list">
                <h1>Sketchbook is an app to pracice drawing and sketching</h1>
                <h1>Once you log in you can save a collection of images from the internet as long as you copy the image address</h1>
                <h1>Click the markup button and you can view your image on a canvas wher eyou can select colors and line widths</h1>

                <ul ng-repeat="canvas in canvases">
                    <h2 ng-click="toggleFilter()" class="sketchName">{{canvas.name}}</h2>
                    <img ng-src="{{canvas.url}}" alt="?" class="madeCanvas" ng-show="toggle">
                </ul>
            </div>
             <div pw-color-selector="['#000', '#9CB199','#153974','#fff','#722626','	#ffb6c1','#D3D3D3','#A9A9A9','#ADD8E6']" color="selectedColor"
                class="color-selector">
            </div>
            <input type="range" min="0.01" max="20" ng-model="selectedLineWidth" class="lineWidthSelector" class="slider">

            <div pw-canvas options="{width: 960, height:1000, color: selectedColor, backgroundColor:'hsla(50, 33%, 25%, 0.01)', lineWidth: selectedLineWidth}"
                id="canvas" class="canvas-view"></div>

            <div class="selected">selected width: {{selectedLineWidth}}</div>
        </div>
    </div>

    <div class="canvasBand">
        <div class="bckground" id="mainImage">
            <img src="{{boardCover}}" alt="?" class="bckimg">
        </div>
    </div>
    </body>

</div>