
<div class = "pinContainer" >

        <div id="canvasList">
            <h1>canvases</h1>
                <div ng-repeat="canvas in canvases">
                    <h2>{{canvas.name}}</h2>
                    <img src="{{canvas.url}}"alt="?" class="pinThumb">
        </div>
        
    
       
        
            <!-- <h1>Board: {{boardName}}</h1> -->
            <!-- <a href="#!/gettheref/markup">Mark up!</a> -->
        
                <!-- <div class="canvas">cb add class band for grid styling -->
                    <!-- <div ng-repeat="pin in pins">  -->
                        <!-- <div class="pinCard" id="pin"> cb add class card for grid styling -->
                            <!-- <img src="{{pin.url}}" alt="?" class="pinThumb"> -->
                            <!-- <div class="pinHeader"> -->
                                <!-- <h2>{{pin.name}}</h2> -->
                            <!-- </div> -->
                    <!-- </div> -->
        
               
                </div>

                <div class="canvasBackground" id="mainImage"> <!-- cb add board image into ref view for comp --> 
                    <img src="{{boardCover}}" alt="?" class="pinCover">

                </div>
            </div>
         </div>
  