<div class = "pinContainer" >

        <div id="canvasList">
            <h1>canvases</h1>
                <div ng-repeat="canvas in canvases">
                    <h2><a ng-href="#!/canvases/{{canvas.name}}">{{canvas.name}}</a></h2>
                    <img src="{{canvas.url}}"alt="?" class="pinThumb">
        </div>
        
    
       
    
        <!-- <button ng-click="save()">Make a canvas!</button> -->
        <!-- <input type="text" placeholder="Canvas Name" ng-model="newCanvas.name"> canvas name? -->
        
            <!-- repeat over pins -->
                <!-- <div pw-canvas options="{width: 1000, height:500, color: '#000', backgroundColor:'hsla(50, 33%, 25%, 0.01)', lineWidth:0.5}" id="canvas"></div> -->
                <!-- <div pw-color-selector="['#000', '#00f', '#0f0', '#f00']" color="model.myColor"></div> --> 
                
                <!-- <div pw-canvas options="{width: 200, height:200, color: '#000', backgroundColor:'hsla(50, 33%, 25%, 0.01)', lineWidth:0.5}" id="canvas"></div> -->
        
        
            <h1>Board: {{boardName}}</h1>
            <!-- <a href="#!/gettheref/markup">Mark up!</a> -->
        
                <div class="pinBand"><!-- cb add class band for grid styling -->
                    <div ng-repeat="pin in pins"> 
                        <div class="pinCard" id="pin"> <!-- cb add class card for grid styling -->
                            <img src="{{pin.url}}" alt="?" class="pinThumb">
                            <div class="pinHeader">
                                <h2>{{pin.name}}</h2>
                            </div>
                    </div>
        
               
                </div>
                <div class="pinCard" id="mainImage"> <!-- cb add board image into ref view for comp --> 
                    <img src="{{boardCover}}" alt="?" class="pinCover">
                        <!-- <h2>{{pin.name}}</h2>  
                    </div>
            </div>
         </div>