<div class ="portfolioContainer">
<h2 class="sketchboardHeader" class="pinBoard">SKETCHBOARDS</h2>
       

        <div class="band">  <!-- cb add class for grid styling -->
            <div class="pinBoard">
                   
                    <input type="file" id="fileButton" onchange="angular.element(this).scope().addImageToCloud(event.currentTarget.files[0])" ng-model="file" /> <!-- for cloud upload  function--> 
                    <br>
                    <input type="text" placeholder="Picture Name" ng-model="newBoard.name">
                    <input type="text" placeholder="Image URL" ng-model="newBoard.url">
                    <br>
                    <h2 ng-click="savePortfolio()">Add Canvas</h2>
                    <h2 ng-click="storeImage()">Add Canvas from file</h2>
                    
            </div>

            <div ng-repeat="board in boards">  
                <div class = "pinBoard">
                    <h1><a ng-href="#!/portfolio/{{board.boardId}}">{{board.name}}</a></h1>
                        <img src={{board.url}} alt="?" draggable="true" class="port">
                        <h2 ng-click="deleteBoard(board.boardId)" class="delete">X</h2>
                        <a href="#!/canvas/{{board.boardId}}">Mark up!</a>
                    </div>
                </div>
            </div>
        <div>

        </div>
</div>