<div class ="portfolioContainer">

        <div class="band">  <!-- cb add class for grid styling -->
            <div class="newPortfolioImage">
                    <input type="text" placeholder="Portfolio Name" ng-model="newBoard.name">
                    <br>
                    <button ng-click="savePortfolio()">Add portfolio</button>
                </div>
            <div ng-repeat="portfolio in portfolios">
                <div class = "pinPortfolio">
                    <h1><a ng-href="#!/pins/{{portfolio.portfolioId}}">{{portfolio.name}}</a></h1>
                        <img src={{portfolio.url}} alt="?">
                        <button ng-click="portfolioDestroy(portfolio.portfolioId)">Delete portfolio</button>
                    </div>
                </div>
            </div>

        </div>
</div>