<div class="pinContainer">
    <h1>Board: {{boardName}}</h1>
    <a href="#!/canvas/{{boardId}}">Mark up!</a>
    <div class="pinBand">
        <div ng-repeat="pin in pins">
            <div class="pinCard" id="pin">
                <img src="{{pin.url}}" alt="?" class="pinThumb">
                <div class="pinHeader">
                    <h2>{{pin.name}}</h2>
                </div>
            </div>
        </div>
        <div class="pinCard" id="mainImage">
            <img src="{{boardCover}}" alt="?" class="pinCover">
        </div>
    </div>
</div>